
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 18pt;
}
body{
    margin: 1rem auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #293038;
}
h3{
    color:#fff
}
a{
    background-color: #ddd;
    display:block;
    margin: auto;
    margin-top: 1rem;
    width: 15ch;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color:#000;
    filter: brightness(100%);
}
a:hover{
    filter: brightness(80%);
}
.container{
    background-color: #fff;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    padding: 3rem 2rem;
}
canvas{
    background-color: #fff;
    margin: 1rem auto;
    border-radius: 20px;
}